<!DOCTYPE html>
<html>
<head>
  <title>Majord</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <div class ="navigation">
  <%= link_to("Add your school", new_school_path)%>
  </div>
</head>
<body>

<%= yield %>

</body>
</html>
